body {
    background-color: rgb(204, 39, 39);
}
footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: eX;
    width: 100%;
}  
footer p{
    text-align: conter;
    font-size: 0.6rem;
}
